In [2]:
import os
from collections import defaultdict
import numpy as np
import pandas as pd
import networkx as nx
import osmnx as ox

import build.graph_utils.graph_utils as graph_utils

# Test graph

In [3]:
graph_utils.__dict__

{'__name__': 'build.graph_utils.graph_utils',
 '__doc__': 'Graph utils',
 '__package__': 'build.graph_utils',
 '__loader__': <_frozen_importlib_external.ExtensionFileLoader at 0x15d608390>,
 '__spec__': ModuleSpec(name='build.graph_utils.graph_utils', loader=<_frozen_importlib_external.ExtensionFileLoader object at 0x15d608390>, origin='/Users/a.ashabokov/Documents/github/graph_processing_tools/graph_isohrones/build/graph_utils/graph_utils.so'),
 'single_source_dijkstra': <function build.graph_utils.graph_utils.PyCapsule.single_source_dijkstra>,
 'multi_source_dijkstra': <function build.graph_utils.graph_utils.PyCapsule.multi_source_dijkstra>,
 '__file__': '/Users/a.ashabokov/Documents/github/graph_processing_tools/graph_isohrones/build/graph_utils/graph_utils.so'}

In [4]:
graph = ox.load_graphml("test_graph_data/tiva_region.graphml")
nodes_df, edges_df = ox.graph_to_gdfs(graph)

In [5]:
nodes_df.head()

,y,x,street_count,highway,geometry
osmid,,,,,
2124710929,50.614446,97.386298,1,NaN,POINT (97.38630 50.61445)
2511734347,50.588890,97.481463,3,NaN,POINT (97.48146 50.58889)
2511734360,50.590414,97.533801,3,NaN,POINT (97.53380 50.59041)
2511734445,50.590637,97.529634,4,NaN,POINT (97.52963 50.59064)
2511734504,50.590746,97.535976,3,NaN,POINT (97.53598 50.59075)

In [6]:
edges_df.head()

                                                                   osmid  \
u          v           key
2124710929 2511738000  0    [202504192, 202504193, 202504194, 243816002]
2511734347 10741401701 0               [243816009, 243815980, 243815988]
           10741401841 0                                       243815980
           10741401700 0                                      1155003958
2511734360 2511734820  0                                       243815985

                           bridge          highway  oneway       reversed  \
u          v           key
2124710929 2511738000  0      yes  [path, footway]   False  [False, True]
2511734347 10741401701 0      yes            track   False          False
           10741401841 0      NaN            track   False           True
           10741401700 0      NaN            track   False          False
2511734360 2511734820  0      NaN      residential   False          False

                              length  \
u          v           key
2124710929 2511738000  0    1422.554
2511734347 10741401701 0     933.430
           10741401841 0     300.802
           10741401700 0    1406.467
2511734360 2511734820  0     379.231

                                                                     geometry  \
u          v           key
2124710929 2511738000  0    LINESTRING (97.38630 50.61445, 97.39014 50.614...
2511734347 10741401701 0    LINESTRING (97.48146 50.58889, 97.48217 50.589...
           10741401841 0    LINESTRING (97.48146 50.58889, 97.48067 50.588...
           10741401700 0    LINESTRING (97.48146 50.58889, 97.47995 50.588...
2511734360 2511734820  0    LINESTRING (97.53380 50.59041, 97.53321 50.590...

                                           name maxspeed  ref lanes junction  \
u          v           key
2124710929 2511738000  0                    NaN      NaN  NaN   NaN      NaN
2511734347 10741401701 0                    NaN      NaN  NaN   NaN      NaN
           10741401841 0                    NaN      NaN  NaN   NaN      NaN
           10741401700 0                    NaN      NaN  NaN   NaN      NaN
2511734360 2511734820  0    Комсомольская улица      NaN  NaN   NaN      NaN

                           service width tunnel access
u          v           key
2124710929 2511738000  0       NaN   NaN    NaN    NaN
2511734347 10741401701 0       NaN   NaN    NaN    NaN
           10741401841 0       NaN   NaN    NaN    NaN
           10741401700 0       NaN   NaN    NaN    NaN
2511734360 2511734820  0       NaN   NaN    NaN    NaN

In [3]:
graph = ox.load_graphml("test_graph_data/tiva_region.graphml")
nodes_df, edges_df = ox.graph_to_gdfs(graph)
edges_df.reset_index(drop=False, inplace=True)
edges_df = edges_df[['u', 'v', 'length']]
edges_df = edges_df.sort_values("length").drop_duplicates(keep="first")
edges_df['u'] = edges_df['u'].astype(str)
edges_df['v'] = edges_df['v'].astype(str)
edges_df['length'] = edges_df['length'].astype(float)
edges_df.dropna(inplace=True)
# edges_df = edges_df.groupby(['u', 'v']).agg('first')
edges_df

                u           v      length
20424  8395624086  6308368309       0.056
16266  6308368309  8395624086       0.056
20992  8452168701  4113519640       0.178
10333  4113519640  8452168701       0.178
6227    409084387  8343879824       0.331
...           ...         ...         ...
3196   1328782656  1845588962   62621.307
33510  3384073699  3383912716   84339.932
33464  3383912716  3384073699   84339.932
250    3225000321  3090156324  127715.862
681    3090156324  3225000321  127715.862

[47378 rows x 3 columns]

In [4]:
weights = defaultdict(dict)

for _, row in edges_df.iterrows():
    weights[row['u']][row['v']] = row['length']

weights = dict(weights)

In [5]:
start_nodes_lst = nodes_df.reset_index(drop=False)['osmid'].astype(str).to_list()
len(start_nodes_lst)

16720

In [7]:
np.random.shuffle(start_nodes_lst)

In [17]:
from tqdm import tqdm

pbar = tqdm(start_nodes_lst[:1000])
res_lst = []

for start in pbar:
    pbar.set_postfix_str(start)
    res = graph_utils.single_source_dijkstra(weights, start, 10_000)
    res_lst.append(res)

  0%|          | 0/1000 [00:00<?, ?it/s]

 82%|████████▏ | 820/1000 [11:26<02:30,  1.19it/s, 6343333679]

KeyboardInterrupt:

In [10]:
%%time
res = graph_utils.multi_source_dijkstra(weights, start_nodes_lst, 5_000, 8)

CPU times: user 1h 39min 36s, sys: 35.4 s, total: 1h 40min 12s
Wall time: 14min 33s

In [8]:
from tqdm import tqdm

pbar = tqdm(start_nodes_lst[:1000])
res_lst = []

for start in pbar:
    pbar.set_postfix_str(start)
    res = graph_utils.single_source_dijkstra(weights, start, 10_000)
    res_lst.append(res)

  2%|▏         | 22/1000 [00:23<17:13,  1.06s/it, 1463982761]

KeyboardInterrupt:

# Test geohash

In [2]:
import os
from icecream import ic
import pandas as pd

os.chdir("..")

import build.graph_utils.graph_utils as graph_utils
from old_geohash import encode, rectangle, decode
from new_geohash import encode as new_encode
from dskit_ghash_utils import encode as dskit_encode

In [5]:
coords_df = pd.read_csv("data/country-capital-lat-long-population.csv")
print(coords_df.shape)
coords_df.head()

(234, 6)

,Country,Capital City,Latitude,Longitude,Population,Capital Type
0,Afghanistan,Kabul,34.5289,69.1725,4011770,Capital
1,Albania,Tiranë (Tirana),41.3275,19.8189,475577,Capital
2,Algeria,El Djazaïr (Algiers),36.7525,3.0420,2693542,Capital
3,American Samoa,Pago Pago,-14.2781,-170.7025,48526,Capital
4,Andorra,Andorra la Vella,42.5078,1.5211,22614,Capital

In [7]:
coords_df['ghash'] = coords_df.apply(
    lambda x: encode(x['Longitude'], x['Latitude'], precision=18, bits_per_char=2),
    axis=1
)
coords_df.head()

,Country,Capital City,Latitude,Longitude,Population,Capital Type,ghash
0,Afghanistan,Kabul,34.5289,69.1725,4011770,Capital,202200020030301113
1,Albania,Tiranë (Tirana),41.3275,19.8189,475577,Capital,203321201101022300
2,Algeria,El Djazaïr (Algiers),36.7525,3.0420,2693542,Capital,203301322130132033
3,American Samoa,Pago Pago,-14.2781,-170.7025,48526,Capital,033013032012330302
4,Andorra,Andorra la Vella,42.5078,1.5211,22614,Capital,203333032110202201

In [14]:
coords_df[['Longitude', 'Latitude', 'ghash']].to_csv("test_coords_to_ghash.csv", index=False, sep=" ")

In [ ]:
coords_df.query("ghash == ")

In [35]:
py_coords = decode("120220220311022220", bits_per_char=2)[::-1]
cpp_coords = decode("120220220311022213", bits_per_char=2)[::-1]
true_coords = (-51.7216, 64.1835)[::-1]
print("python: ", encode(*true_coords[::-1], bits_per_char=2, precision=18))
ic(py_coords)
ic(cpp_coords)
ic(true_coords)

ic| py_coords: (64.18315887451172, -51.72157287597656)
ic| cpp_coords: (64.18384552001953, -51.72157287597656)
ic| true_coords: (64.1835, -51.7216)

python:  120220220311022220

(64.1835, -51.7216)

In [3]:
ic(encode(-51.7216, 64.1835, bits_per_char=2, precision=18))
ic(new_encode(-51.7216, 64.1835, bits_per_char=2, precision=18))

ic| encode(-51.7216, 64.1835, bits_per_char=2, precision=18): '120220220311022220'
/Users/a.ashabokov/Documents/github/graph_tools/graph_isohrones/python/new_geohash.py:211: RuntimeWarning: invalid value encountered in cast
  xy[:, flip] = n - 1 - xy[:, flip]
ic| new_encode(-51.7216, 64.1835, bits_per_char=2, precision=18): array('120220220300000000', dtype='<U18')

array('120220220300000000', dtype='<U18')

In [10]:
%%time
for _ in range(10_000_000):
    encode(-51.7216, 64.1835, bits_per_char=2, precision=18)

CPU times: user 53.1 s, sys: 27.7 ms, total: 53.1 s
Wall time: 54 s

In [11]:
%%time
for _ in range(10_000_000):
    new_encode(-51.7216, 64.1835, bits_per_char=2, precision=18)

/Users/a.ashabokov/Documents/github/graph_tools/graph_isohrones/python/new_geohash.py:211: RuntimeWarning: invalid value encountered in cast
  xy[:, flip] = n - 1 - xy[:, flip]

KeyboardInterrupt:

In [11]:
%%time

for _ in range(10_000_000):
    graph_utils.geohash_encode(-51.7216, 64.1835, 18, 2)

CPU times: user 16.5 s, sys: 7.66 ms, total: 16.5 s
Wall time: 16.7 s

In [6]:
%%time
for _ in range(10_000_000):
    dskit_encode((-51.7216, 64.1835), 18)

CPU times: user 4.54 s, sys: 2.48 ms, total: 4.54 s
Wall time: 4.62 s

In [10]:
%%time
for _ in range(10_000_000):
    encode_v2(-51.7216, 64.1835, 18, 2)

CPU times: user 52.6 s, sys: 22.7 ms, total: 52.6 s
Wall time: 53.6 s